﻿@using Highsoft.Web.Mvc.Stocks

<br />

@{var i = 0;
    foreach (var chartData in (dynamic)ViewData["listOfCharts"])
    {
        <div class="panel panel-default">
            <div class="panel-heading">Chart @(i+1)</div>
            <div class="panel-body">
                @(Html.Highsoft().Highstock(
                new Highstock
                {
                    RangeSelector = new RangeSelector
                    {
                        Selected = 1
                    },
                    Title = new Title
                    {
                        Text = "Heart Rate"
                    },
                    Series = new List<Series>
                    {
                    new LineSeries
                    {
                        Data = chartData as List<LineSeriesData>,
                        Name = "AAPL",
                        Tooltip = new LineSeriesTooltip
                        {
                            ValueDecimals = 2
                        }
                    }
                    },
                    PlotOptions = new PlotOptions
                    {
                        Series = new PlotOptionsSeries
                        {
                            TurboThreshold = 5000
                        }
                    }

                },
                "chart" + i
            ))
            </div>
        </div>
        i++;
    }
}